body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfdfd;
    padding-top: 90px;
}

/* ANIMATIONS */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floatImage {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

/* NAVBAR */
.custom-navbar {
    background-color: #f4f6f8;
    padding: 15px 0;
}

.logo-box {
    width: 40px;
    height: 40px;
    background: #e7eefc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.brand-text {
    font-weight: 600;
    font-size: 20px;
    color: #2c2c2c;
}

.custom-link {
    margin: 0 15px;
    color: #555 !important;
    font-weight: 500;
}

.custom-link:hover {
    color: #2563eb !important;
}

.login-btn {
    background-color: #3b82f6;
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 500;
}

.login-btn:hover {
    background-color: #2563eb;
    color: white;
}

#userArea span {
    font-size: 16px;
}

/* TO FIX NAVBAR */
.custom-navbar {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

/* HERO SECTION */
.hero-section {
    background: linear-gradient(to right, #dbeafe, #f3e8ff);
    padding: 40px 0 70px 0;
    position: relative;
    overflow: hidden;
}

.hero-section::before,
.hero-section::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.hero-section::before {
    width: 300px;
    height: 300px;
    background: rgba(59,130,246,0.15);
    top: -80px;
    right: -80px;
}

.hero-section::after {
    width: 200px;
    height: 200px;
    background: rgba(168,85,247,0.15);
    bottom: -60px;
    left: -60px;
}

.min-vh-75 {
    min-height: 75vh;
}

.hero-title {
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.05;
    color: #111827;
    letter-spacing: -1px;
}

.highlight-text1 {
    color: #186cf3;
}

.highlight-text2 {
    background: linear-gradient(90deg, #3b82f6, #5d94ed );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInLeft 1s ease-out
}

.hero-text p {
    font-size: 20px;
    color: #6b7280;
    max-width: 550px;
    margin-top: 25px;
    margin-left: 50px;
}

.hero-image {
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.08);
    animation: fadeInRight 1.2s ease-out, floatImage 5s ease-in-out infinite;
}

/* WHY SECTION STYLING */
.why-section {
    background-color: #ffff;
    padding: 100px 20px;
}

.why-title {
    font-size: 40px;
    font-weight: 700;
}

.why-subtitle {
    color: #6c757d;
    font-size: 18px;
    margin-top: 10px;
}

.why-card {
    background: linear-gradient(90deg, #deecfa, #e9ebed, #f4ebf2 );
    padding: 40px;
    border-radius: 25px;
    text-align: left;
    height: 100%;
    transition: all 0.3s ease;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

.why-card:nth-child(1) { animation-delay: 0.2s; }
.why-card:nth-child(2) { animation-delay: 0.4s; }
.why-card:nth-child(3) { animation-delay: 0.6s; }
.why-card:nth-child(4) { animation-delay: 0.8s; }

.why-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 35px rgba(0,0,0,0.05);
}

.why-card h4 {
    font-weight: 600;
    margin-top: 20px;
}

.why-card p {
    color: #555;
    margin-top: 10px;
    font-size: 16px;
}

.icon-circle {
    width: 70px;
    height: 70px;
    background: #d6d7d7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

/* FOOTER */
.footer {
    background-color: #e4e6e7;
}

/* SCREENING PAGE */
.screening-body {
    background: linear-gradient(135deg, #e0f2fe, #f3e8ff);
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.screening-card {
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.brain-icon {
    font-size: 30px;
    background: #dbeafe;
    padding: 12px;
    border-radius: 12px;
}

.radio-box {
    border: 1px solid #e5e7eb;
    padding: 12px 25px;
    border-radius: 12px;
    cursor: pointer;
}

.continue-btn {
    background: linear-gradient(90deg, #3b82f6, #2563eb);
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-weight: 600;
    color: white;
}

.continue-btn:hover {
    opacity: 0.9;
}

/* DISCLAIMER BOX */
.disclaimer-box {
    background: #fff8e6;
    border: 1px solid #facc15;
    padding: 25px;
    border-radius: 15px;
}
